<suite name="TestSuite">
    <test name="AutoQA" parallel="methods" thread-count="1">
        <classes>
            <class name="io.swagger.petstore.OrderTest" />
            <class name="io.swagger.petstore.PetStoreTest"/>
            <class name="io.swagger.petstore.UserTest"/>
        </classes>
    </test>
</suite>